<div class="outer_container">
  <div class="user_container">
    <div class="userp">
      <img src="#" class="user_image">
    </div>
    <div class="user_prof">
      <div class="user_name">
        <p><%= @user.name %></p>
      </div>
      <div class="user_url">
        <p><%= link_to @user.url, @user.url, class:"no-underline"%></p>
      </div>      
      <div class="user_profile">
        <p><%= @user.profile %></p>
      </div>
    </div>
    <div class="edit_area">
      <%= link_to(edit_user_path)  do %>
      <div class="edit_button">
        編集ボタンが入る
      </div>
      <% end %>
    </div>
    <div class="button_space">
      <p>ファボとか</p>
    </div>
  </div>
</div>