<%= render 'layouts/header', users: @users %>

<div id="container">
  <div id="infomation_area" class="area  rowspan2">
    <h2>information</h2>
  </div><!-- end of infomation_area-->

  <div id="center_area" class="area rowspan5">
    <h2>Latest List</h2>
    <div class="outer_container">
        <!-- ここから中のコンテナ-->






        <!-- ここまで中のコンテナ-->
    </div>
  </div><!-- end of center_area-->


  <%= render 'layouts/login' %>

  <div id="update_area" class="area">
    <h2>Update</h2>
  </div>
  <div id="upper_right_area" class="area">
    <h2>Favo Ranking</h2>
  </div>
  <div id="lower_left_area" class="area rowspan2">
    <p>free space</p>
  </div>
  <div id="lower_right_area" class="area">
    <h2>Model Ranking</h2>
  </div>
  <%= link_to(logout_path, class:"no-underline")  do %>
  <div id="logout" class="area">
    <p>LOG OUT</p>
  </div>
  <% end %>
</div><!-- end of center-->

<%= render 'layouts/footer' %>