<header>
  <div id="header_band">
    <p>Show off and manage your guitar!</p>
  </div>
  <div id="logo">
     <h1>ORENO GUITAR</h1>
  </div>
  <div id="menubar">
    <nav>
      <ul>
        <li>Guitars</li>
          <li>Guitars</li>
          <li>Guitars</li>
          <li>serch</li>
      </ul>
    </nav>
  </div>
</header>


<div id="container">
  <div id="infomation_area" class="area  rowspan2">
    <h2>information</h2>
  </div><!-- end of infomation_area-->

  <div id="center_area" class="area rowspan5">
    <h2>Latest List</h2>
    <div class="outer_container">
      <!-- ここから中のコンテナ-->
      <div class="inner_container">
        <div class="userp">
          <img src="p/sample.png" class="user_image">
        </div>
        <div class="user_prof">
          <p>お名前名乗太郎</p>
        </div>            
        <div class="productp">
          <img src="p/gsample.png" class="product_image">
        </div>
        <div class="spec">
          <ul>
            <li>Brand name : Ibanez</li>
            <li>Model name : RGT220H</li>
            <li>Tuning : EADGBE</li>
            <li>String Gauge : 42/32/24/16/11/09</li>
            <li>Strings change at : 2020.03.01</li>
            <li>Created at : 2020.03.01</li>
          </ul>
        </div>
        <div class="button_space">
          gp
        </div>
      </div>
      <!-- ここまで中のコンテナ-->
    </div>
  </div><!-- end of center_area-->


  <div id="loginn_area_uoside" class="area">
    <p>Create an account?</p>
  </div>
  <div id="loginarea" class="area">
    <%= link_to(signup_path, class:"no-underline")  do %>
      <div id="signup_button"><p>Sign up</p></div>
    <% end %>
    <div id="login_button"><p>Log in</p></div>
  </div>
  <div id="update_area" class="area">
    <h2>Update</h2>
  </div>
  <div id="upper_right_area" class="area">
    <h2>Favo Ranking</h2>
  </div>
  <div id="lower_left_area" class="area rowspan2">
    <p>free space</p>
  </div>
  <div id="lower_right_area" class="area">
    <h2>Model Ranking</h2>
  </div>
  <div id="copyright" class="area">
    <p><small>&copy; ORENO GUITAR</small></p>
  </div>
</div><!-- end of center-->

<footer>
</footer>