*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1rem;
    background-color: #001;
    overflow-wrap:break-word;
}

ul{
    list-style: none;
}

a{
  color: #6ac;
}

.no-underline{text-decoration:none !important;}

h1{
  color: #abb;
  font-size: 2rem;
}
h2{
    font-size: 1.2rem;
    color: #abb;
    border-bottom: solid 1px #333;
    margin: 0 0 15px;
}


/************************ メインコンテナ ************************/

#container{
  overflow: auto;
  scroll-snap-type: both;
  display: grid;
  gap: 1px;
  grid-template-columns: 180px 1fr 180px;
  grid-template-rows: 50px 200px auto auto 30px;
  width: 70vw;
  height: 95vh;
  margin: 0 auto;
  border: solid 1px #333;
  background-color: #333;
}
#container p{
    color: #222;
}
.rowspan5{
    grid-row: span 5;
}
.rowspan2{
    grid-row: span 2;
}

.area {
  scroll-snap-align: start;
  background-color: #000;
  padding: 10px 15px;
}
/************************ 画像の設定 ************************/

.check{
  background-color: #f00;
}

.userp img, .productp img {
  width:100%;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  object-fit: cover
}



/************************ ユーザーコンテナ ************************/

.user_container{
    display: grid;
    gap: 10px;
    grid-template-columns: 180px 1fr 20px;
    grid-template-rows: 150px 20px;
    width: auto;
    height: auto;
    padding: 10px;
    border: solid 1px #0aa;
    background-color: #dee;
}
.user_container .userp{
    grid-row: span 2;
    width: 180px;
    height: 180px;
}
.user_container .user_name p{
    font-size: 2rem;
}
.user_container .user_url{
    font-size: 1.2rem;
    margin: 0.5rem 0;
}
.user_container .user_profile{
    font-size: 1.2rem;
}

.user_container .edit_button{
    position: relative;
    top: 0;
    left: 0;
}
.user_container .button_areea{
    order: 5;
    grid-column: span 2;
}

/************************ フォームのデザイン ************************/

#form_container{
    width: 100vw;
    height: 100vh;
    text-align: center;
    background-color: #000;
}
#form_area{
    width: 30vw;
    min-height: 50vh;
    height: auto;
    background-color: #dee;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    top: 50px;
    border-radius: 3px;
}
#form_area h1{
    color: #399;
    font-size: 3rem;
    margin-bottom: 20px;
}
#form_area p{
    color: #399;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.ceheck_box{
  margin: 10px;
}

.text_area{
  height: 50px;
}
.form_style{
    padding: 5px;
    font-size: 1.2rem;
    font-family: Arial, sans-serif;
    color: #333;
    border: solid 1px #ccc;
    margin: 0 0 10px;
    width: 80%;
    max-width: 300px;
    border-radius: 3px;
}
.btn_style{
    border: 0;
    padding: 10px;
    font-size: 1.5rem;
    font-family: Arial, sans-serif;
    color: #344;
    margin: 0 0 20px;
    width: 80%;
    max-width: 300px;
    border-radius: 3px;
    background-color: #0aa;
    cursor:pointer;
}
.btn_style:hover{
    background-color: #0cc;
}

#cancel_button{
  display: block;
  width: 36px;
  height: 36px;
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #0aa;
  border-radius: 3px;

}
#cancel_button p{
  text-align: center;
    color: #dee;
  font-size: 5rem;
  font-weight: bold;
  line-height: 26px;
}
/************************ マイギターコンテナ ************************/
.flex_container{
    display: flex;
   flex-flow: wrap;
}

.myguitar_container{
    display: grid;
    gap: 10px;
    grid-template-columns: 100px 1fr 20px;
    grid-template-rows: auto;
    width: auto;
    height: auto;
    padding: 10px;
    border: solid 1px #0aa;
    background-color: #dee;
}
.spec{
  grid-row: span 1;
}
.myguitar_container .spec{
    font-size: 1.2rem;
}

/************************ スペックコンテナ ************************/
#spec_container{
  display: grid;
  grid-template-columns: 1fr 20px 1fr 20px;
  grid-template-rows: 500px auto 20px;
  gap: 30px;
  width: 80vw;
  height: 90vh;
  padding: 30px;
  margin: 0 auto;
  border: solid 1px #0aa;
  background-color: #dee;
}

#spec_container .productp{
  display: block;
  grid-column: span 2;
}

#spec_container .spec{
  font-size: 1.8rem;
  grid-row: span 2;
}
#spec_container .edit_area{
  grid-row: span 2;

}
#spec_container .comment_area{
  font-size: 1.8rem;
}
#spec_container .string_edit_area{
  
}
.button_area{
  grid-column: span 4; 
}
#spec_container .productp{
  text-align: center;
}
#spec_container .productp img{
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
}


#spec_container #close_button{
  position: relative;
  width: 40px;
  margin: 0 auto;
  text-align: center;
  background-color: #007;
}

/************************ センターコンテナ ************************/

#center_area{
    overflow: auto;
}
.outer_container{
    display: block;
    margin-bottom: 20px;
}

.inner_container{
    display: grid;
    gap: 5px;
    grid-template-columns: 60px 1fr 150px;
    grid-template-rows: 60px auto 20px;
    width: auto;
    height: auto;
    padding: 10px;
    border: solid 1px #0aa;
    background-color: #dee;
}

.inner_container .userp{
  width: 60px;
  height: 60px;
}
.inner_container .user_prof{
    font-size: 1.5rem;
}
.inner_container .spec{
    grid-column: span 2;
    font-size: 1.2rem;
}
.inner_container .productp{
    grid-row: span 3;
}
.inner_container .button_space{
    grid-column: span 2;
}


/************************ ログインボタン ************************/


#signup_button, #login_button{
    display: block;
    width: 150px;
    height: 30px;
    text-align: center;
    border: solid 1px #333;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 5px auto;
}
#signup_button{
    background-color: #0aa;
}
#signup_button:hover{
    background-color: #0cc;
}
#login_button{
    background-color: #000;
}
#login_button:hover{
    border: solid 1px #999;
}
#signup_button p, #login_button p{
    line-height: 30px;
}
#signup_button p{
    color: #133;
}
#login_button p{
    color: #0aa;
}
/************************ ログインスペース ************************/
#loginn_area_upside{
  text-align: center;
}

.bg-bl{
  display: block;
  background-color: #222;
}
.bg-bl:hover{
  background-color: #333;
}
.bg-gr{
    background-color: #266;
}

#loginn_area_upside p{
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 30px;
  color: #fc1;
}

#loginarea{
  text-align: center;
}
#loginarea h3{
  font-size: 1.8rem;
  color: #acc;
  font-weight: normal;
}


#login-user{
  color: #acc;
}


#loginarea .userp{
  width: 90px;
  height: 90px;
  margin: 0 auto;
}

/************************ ヘッダー ************************/
header{
    width: 70vw;
    margin: 0 auto;
    background-color: rgba(100, 100, 100, 0.6);
    border-right: solid 1px #333;
    border-left: solid 1px #333;
}

#logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 72px;
    background-color: #255;
}

#header_band{
    display: block;
    width: 100%;
    height: 18px;
    position: relative;
    top: 0;
    text-align: center;
    background-color: #266;
}
#header_band p{
    font-size: 1rem;
    line-height: 18px;
}


/************************ ナビバー ************************/

#navbar{
    display: block;
    width: 100%;
    bottom: 0px;
    left: 0;
    background-color: #333;
}
#navbar ul{
  display: block;
  height: 24px;
  text-align: center;
}

#navbar li{
  display: inline-block;
  position: relative;
  width: 49%;
  text-align: center;
  font-size: 1.2rem;
  line-height: 24px;
}


#navbar li:last-child{
  width: 49%;
}
#navbar p{
  color: #eb0;
  font-weight: bolder;
}

#navbar li:hover{
    background-color:  #444;
}

/************************ 編集ボタン ************************/

.edit_button{
  display: block;
  width: 20px;
  height: 20px;
  /**背景はあとでSVGに差し替える**/
  background-color: #222;
  text-indent: -99999px;
  z-index: 9999px;
}
/************************ 詳細ボタン ************************/

.deta_button{
  display: block;
  width: 20px;
  height: 20px;
  /**背景はあとでSVGに差し替える**/
  background-color: #266;
  text-indent: -99999px;
  z-index: 9999px;
}


/************************ ログアウト ************************/

#logout{
  display: block;
  text-align: center;
}

#logout p{
  display: block;
  font-size: 0.5rem;
  font-weight: bold;
  line-height: 10px;
  color: #eb0;
}

/************************ フッター ************************/

footer{
  width: 70vw;
  height: 20px;
  margin: 0 auto 10px;
  border: solid 1px #333;
  background-color: #000;
  text-align: center;
}

footer p{
  line-height: 20px;
  color: #788;
}

/************************************************************/

@media (max-width: 1000px){
/*** ユーザー ***/
.user_container{
    grid-template-columns: 1fr 20px;
    grid-template-rows: 100px auto 20px;
}
.user_container .userp{
    order: 1;
    grid-row: span 1;
    width: 100px;
}
.user_container .user_prof{
    order: 3;
    grid-column: span 2;
}
.user_container .edit_area{
    order: 2;
}
.user_container .button_space{
    order: 4;
    grid-column: span 2;
}
/*** マイギター ***/

.myguitar_container{
    grid-template-columns: 1fr 20px;
    grid-template-rows: auto auto;
}
.myguitar_container .productp{
    order: 1;
    width: 100px;
}
.myguitar_container .spec{
    order: 3;
}
.myguitar_container .edit_area{
    order: 2;
}

/*** センターエリア ***/
.inner_container{
    grid-template-columns: 40px auto 100px;
    grid-template-rows: 40px auto 20px;
    height: auto;
}
.inner_container .userp{
    order: 1;
}
.inner_container .user_prof{
    order: 2;
    grid-column: span 2;
}
.inner_container .spec{
    order: 3;
    grid-column: span 2;
    position: relative;
}
.inner_container .productp{
    order: 4;
    grid-row: span 1;
}
.inner_container .button_space{
    order: 5;
    grid-column: span 3;
}

}


@media (max-width: 800px){
  #container{
  	  grid-template-columns: 1fr;
  	  grid-template-rows: auto;
  }
.rowspan5,
.rowspan2{
    grid-row: span 1;
}

/*** ユーザー ***/
.user_container{
    grid-template-columns: 60px auto 20px;
    grid-template-rows: auto 20px;
}
.user_container .userp{
    order: 1;
    grid-row: span 1;
    width: 60px;
}
.user_container .user_prof{
    order: 2;
    grid-column: span 2;
}
.user_container .edit_area{
    order: 4;
}
.user_container .button_space{
    order: 3;
    grid-column: span 2;
    background-color: #22f;
}

/*** マイギター ***/
.myguitar_container{
    grid-template-columns: 100px auto 20px;
    grid-template-rows: auto;
}
.myguitar_container .productp{
    order: 1;
    width: 100px;
}
.myguitar_container .spec{
    order: 2;
}
.myguitar_container .edit_area{
    order: 3;
}

#infomation_area{
  order: 4;
}
#center_area{
  order: 3;
}
#loginn_area_upside{
  order: 1;
}

#loginarea{
  order: 2;
}
#update_area{
  order: 5;
}

#upper_right_area{
    order: 6;
}
#lower_left_area{
    order: 8;
}
#lower_right_area{
    order: 7;
}
#logout{
    order: 9;

}
  
  
}

