<header>
  <div id="header_band">
    <p>Show off and manage your guitar!</p>
  </div>
  <div id="logo">
    <%= link_to(root_path, class:"no-underline")  do %>
      <h1>ORENO GUITAR</h1>
    <% end %>
  </div>

  <% if logged_in? %>
  <div id="navbar">
    <nav>
      <ul>
        <li><p>Guitars</p></li>

        <li>
          <div class="new_post">
            <%= link_to(user_path(current_user), class:"no-underline")  do %>
            <p>My Page</p>
            <% end %>
          </div>
        </li>           
      </ul>
    </nav>
  </div>

  <% else %>
  <div id="navbar">
    <nav>
      <ul>
        <li>Guitars</li>

        <li>serch</li>
      </ul>
    </nav>
  </div>
  <% end %>
</header>