<header>
  <div id="header_band">
    <p>Show off and manage your guitar!</p>
  </div>
  <div id="logo">
     <h1>ORENO GUITAR</h1>
  </div>
  <div id="menubar">
    <nav>
      <ul>
        <li>Guitars</li>
          <li>Guitars</li>
          <li>Guitars</li>
          <li>serch</li>
      </ul>
    </nav>
  </div>
</header>